fastapi
aiofiles
python-multipart
uvicorn[standard]
torch
torchvision
speechbrain==0.5.16
scikit-learn
openai-whisper
soundfile
pydub
pydub-ffmpeg-wav
anyio
transformers
optimum
auto-gptq
# libosa
pytest
pytest-asyncio
pytest-mock
webrtcvad
python-jose[cryptography]
passlib[bcrypt]
python-multipart
jinja2
protobuf
bitsandbytes
